:host {
  display: block;
}

h3 {
  margin: 0 0 4px;
  padding: 4px;
  text-transform: uppercase;
  border-bottom: 2px dotted black;
  width: auto;
}

slot:not([name]) {
  --legend-color: #404;
}

fieldset {
  margin-top: 8px;
  padding-right: 0;
  margin-right: 0;
  border-color: var(--legend-color, #404);
  border-width: 1px 0 0 2px;
  padding-left: 4px;
}

label {
  font-family: monospace;
  display: block;
  background: #F8F8F8;
  padding: 4px;
  margin: 4px;
}

legend {
  background: var(--legend-color, #404);
  color: white;
  text-transform: uppercase;
  padding: 2px 8px;
  font-weight: bold;
}

fieldset.params {
  --legend-color: teal;
}

legend.params {
  text-transform: lowercase;
  font-size: 12px;
  font-style: italic;
}

pre {
  background: black;
  color: white;
  padding: 8px;
  display: block;
  margin: 4px;
}