:host {
  display: block;
}

fieldset {
  margin-top: 8px;
}

legend {
  background: black;
  color: white;
  text-transform: uppercase;
  padding: 2px 8px;
  font-weight: bold;
}

fieldset + fieldset.inputs {
  margin-top: -8px;
}

fieldset.inputs legend {
  background: darkblue;
  font-size: 80%;
  text-transform: lowercase;
}

pre {
  background: black;
  color: white;
  padding: 8px;
}